@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}
p {
    font-size: 18px;
}
.container {
    position: relative;
    background-color: var(--dark-cyan);
    color: var(--Very-dark-desaturated-blue);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.top-bg {
    position: absolute;
    background: url("./images/bg-pattern-top.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 978px;
    width: 978px;
    top: -528px;
    left: -284px;
}
.bottom-bg {
    position: absolute;
    background: url("./images/bg-pattern-bottom.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 978px;
    width: 978px;
    bottom: -628px;
    right: -250px;
}
.card {
    width: 350px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 29px 1px rgba(0,0,0,0.20);
}
.card .bg-pattern-card {
    width: 100%;
}
.card .avatar {
    width: 120px;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid white;
    border-radius: 100%;
}
.name {
    margin-top: 75px;
    font-weight: 700;
}
.name .age {
    font-weight: 500;
    color: var(--Dark-grayish-blue);
    margin-left: 5px;
}
.country {
    color: var(--Dark-grayish-blue);
    margin: 10px 0 25px 0;
    font-size: 15px;
    font-weight: 500;
}
hr {
    border: none;
    height: 1px;
    background-color: var(--dark-gray);
    opacity: 0.2;
}
.stats {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}
.stats .number {
    font-weight: 700;
}
.stats .under-number {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: var(--Dark-grayish-blue);
    margin-top: 5px;
}
@media(max-width: 375px) {
    .top-bg {
        height: 375px;
        width: 375px;
        top: -160px;
        left: -167px;
    }
    .bottom-bg {
        height: 375px;
        width: 375px;
        bottom: -79px;
        right: -167px;
    }
}
